mediainfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://mediaarea.net/mediainfo"
    xmlns="https://mediaarea.net/mediainfo" elementFormDefault="qualified"
    version="2.0alpha1">
    <xsd:element name="MediaInfo" type="mediainfoType"/>
    <xsd:complexType name="mediainfoType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:choice>
            <xsd:element name="File"    type="fileType"  minOccurs="0" maxOccurs="unbounded" />
            <xsd:element name="track"   type="trackType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:choice>
        <xsd:attribute   name="version" />
    </xsd:complexType>
    <xsd:complexType name="fileType">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="track"   type="trackType" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
        <xsd:attribute   name="ref" />
    </xsd:complexType>
    <xsd:complexType name="trackType">
        <xsd:annotation>
            <xsd:documentation>This attribute describes</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:choice maxOccurs="unbounded">
                <xsd:element name="ActiveFormatDescription" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes Active Format Description (AFD) codes as described in the DVB standard TS 101 154.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Album_ReplayGain_Gain" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes album-gain values to attenuate the signal on a per-album basis.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Album_ReplayGain_Peak" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes peak loudness levels when measuring a signal on a per-album basis.</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Alignment" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitDepth" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitDepth_Stored" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate_Encoded" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BitRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="BufferSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Channels" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ChannelLayout" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ChannelPositions" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ChromaSubsampling" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CodecID" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describesThis element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ColorSpace" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="colour_description_present" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="colour_description_present_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="colour_primaries" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="colour_primaries_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="colour_range" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CompleteName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="CompleteName_Last" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Compression_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Compression_Ratio" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Countries" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Country" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Cover" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Cover_Description" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Cover_Mime" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Cover_Type" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DataSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Default" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_DropFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_Original_DropFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_Original_Source" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_Settings" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Delay_Source" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="DisplayAspectRatio" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Duration" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Duration_End" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Duration_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Duration_LastFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Duration_Start" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application_String" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application_CompanyName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application_Name" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application_Url" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Application_Version" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Date" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library_CompanyName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library_Date" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library_Name" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library_Settings" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_Library_Version" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encoded_OperatingSystem" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_Format" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_InitializationVector" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_Length" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_Method" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Encryption_Padding" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FileSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FirstPacketOrder" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FooterSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Forced" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Commercial_IfAny" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Compression" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Profile" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_BVOP" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_CABAC" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Emphasis" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Endianness" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Firm" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Floor" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_FrameMode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_GMC" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_GOP" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_ITU" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Law" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Matrix" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Matrix_Data" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_ModeExtension" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_PictureStructure" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_PS" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Pulldown" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_QPel" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_RefFrames" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_SBR" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Sign" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Settings_Wrapping" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Format_Version" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameCount" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Mode_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="FrameRate_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Gop_OpenClosed" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Gop_OpenClosed_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="HeaderSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Height" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Height_Offset" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Height_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ID" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Interleaved" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Interleave_Duration" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Interleave_Preload" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Interleave_VideoFrames" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="IsStreamable" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Language" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describesThis element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Language_More" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LawRating" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="LawRating_Reason" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="List_StreamKind" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="List_StreamPos" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matrix_Channels" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matrix_ChannelPositions" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="matrix_coefficients" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="matrix_coefficients_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Matrix_Format" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MenuID" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MultiView_BaseProfile" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MultiView_Count" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MultiView_Layout" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MuxingMode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="MuxingMode_MoreInfo" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="NetworkName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Original_NetworkName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OriginalNetworkName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OverallBitRate" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OverallBitRate_Maximum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OverallBitRate_Minimum" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OverallBitRate_Mode" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="OverallBitRate_Nominal" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="PixelAspectRatio" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReplayGain_Gain" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ReplayGain_Peak" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Rotation" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Sampled_Height" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Sampled_Width" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SamplingCount" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="SamplingRate" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ScanOrder" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ScanOrder_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ScanOrder_Stored" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ScanType" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ServiceChannel" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ServiceName" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ServiceProvider" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="ServiceType" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_Duration" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_Duration_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_Duration_LastFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_FrameCount" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_SamplingCount" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_StreamSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_StreamSize_Encoded" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Source_StreamSize_Proportion" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Standard" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Stored_Height" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Stored_Width" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StreamOrder" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StreamSize" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StreamSize_Encoded" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="StreamSize_Proportion" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Summary" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Tagged_Date" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeCode_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeCode_Settings" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeCode_Source" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeCode_Striped" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeStamp_FirstFrame" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeZone" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="TimeZones" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Title" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Title_More" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="transfer_characteristics" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="transfer_characteristics_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Type" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="UniqueID" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Width" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Width_CleanAperture" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Width_Offset" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
                <xsd:element name="Width_Original" minOccurs="0" maxOccurs="1" type="xsd:string">
                    <xsd:annotation>
                        <xsd:documentation>This element describes</xsd:documentation>
                    </xsd:annotation>
                </xsd:element>
            </xsd:choice>
            <xsd:element name="extra" type="extraType"  minOccurs="0" maxOccurs="1" />
        </xsd:sequence>
        <xsd:attribute   name="type" use="required" />
        <xsd:attribute   name="streamid" />
    </xsd:complexType>
    <xsd:complexType name="extraType">
        <xsd:annotation>
            <xsd:documentation>This element describes</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
             <xsd:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded" />
        </xsd:sequence>
    </xsd:complexType>
    <xsd:attributeGroup name="creationAttributeSet">
        <xsd:attribute name="version"        type="xsd:string" use="required"/>
        <xsd:attribute name="url"            type="xsd:string"/>
        <xsd:attribute name="build_date"     type="xsd:string"/>
        <xsd:attribute name="build_time"     type="xsd:string"/>
        <xsd:attribute name="compiler_ident" type="xsd:string"/>
    </xsd:attributeGroup>
</xsd:schema>
